In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor 
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions 
from sklearn.model_selection import cross_val_score

**Importing the dataset**

In [2]:
data = pd.read_csv('/content/Social_Network_Ads (1).csv')

In [3]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [48]:
data.describe

<bound method NDFrame.describe of      Gender  Age  EstimatedSalary  Purchased
0       NaN   19            19000          0
1       NaN   35            20000          0
2       NaN   26            43000          0
3       NaN   27            57000          0
4       NaN   19            76000          0
..      ...  ...              ...        ...
395     NaN   46            41000          1
396     NaN   51            23000          1
397     NaN   50            20000          1
398     NaN   36            33000          0
399     NaN   49            36000          1

[400 rows x 4 columns]>

In [4]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [54]:
data.dropna()

Empty DataFrame
Columns: [Gender, Age, EstimatedSalary, Purchased]
Index: []

In [60]:
del data['Gender']

In [61]:
data.dtypes

Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object

**Splitting the dataset into the Training set and Test set**

In [63]:
X = data[['Age','EstimatedSalary']].values # fts
y = data['Purchased'].values # target
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)
y_train

array([0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0])

**Feature Scaling**

In [64]:
from sklearn.preprocessing import StandardScaler #Scaling no need for test dataset because we cant do transform for test
scaler=StandardScaler()
X_train = scaler.fit_transform(X_train)

**Fitting K-NN to the Training set**

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
  knn = KNeighborsClassifier(i) #initialising the model
  knn.fit(X_train,y_train) # training the model
  print("K value  : " , i, " score : ", roc_auc_score(y_test, knn.predict_proba(X_test)[:,1]))

K value  :  1  score :  0.5
K value  :  2  score :  0.5
K value  :  3  score :  0.5
K value  :  4  score :  0.5
K value  :  5  score :  0.5
K value  :  6  score :  0.5
K value  :  7  score :  0.5
K value  :  8  score :  0.5
K value  :  9  score :  0.5
K value  :  10  score :  0.5
K value  :  20  score :  0.5
K value  :  50  score :  0.5

**Predicting the Test set results**

In [70]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1)